.DS_Store
.build
*.bunpack
*.sh
!install.sh

/src/

public/icons/
public/sources/
public/*.json

sources/*/target
sources/*/public
sources/*/cargo.lock
sources/*/Cargo.lock
templates/*/target

.idea
*.iml
.zed
.ropeproject
